<!-- Carousel avec logos en page d'accueil -->

<div class="panel panel-default stat-panel">
    <div class="panel-heading padding-sm ">
 <!--       <strong><h3 class="title-spaced"><span class="glyphicon glyphicon-link"></span>Nos Partenaires</h3></strong> -->
			<strong><h3 class="title-spaced"><img src="/atlas/static/custom/images/pictos/main.png" width="24px">&nbsp;Nos Partenaires</h3></strong> 
    </div>
    <div class="panel-body">
        <div class="row" style="padding: 1%;">

            <div class="container">
                <section class="partner-logos slidepartenaireindexr">

                    <!--Logo 1-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/AUDIAR.jpg') }}">
                    </div>

                    <!--Logo 2-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/agro_campus_Rennes.png') }}">
                    </div>

                    <!--Logo 3-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/Bretagne Vivante.jpg') }}">
                    </div>

                    <!--Logo 5-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/DDTM.png') }}">
                    </div>

                    <!--Logo 6-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/Dep_ille_et_vilaine.png') }}">
                    </div>

                    <!--Logo 7-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/Eau_et_riviere_de_bretagne.jpg') }}">
                    </div>

                    <!--Logo 8-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/ecobio.jpg') }}">
                    </div>

                    <!--Logo 9-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/FEADER.jpg') }}">
                    </div>

                    <!--Logo 10-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/GRETIA.jpg') }}">
                    </div>

                    <!--Logo 11-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/Groupe mammalogique breton.jpg') }}">
                    </div>

                    <!--Logo 12-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/ivine.png') }}">
                    </div>

                    <!--Logo 13-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/LETG_CNRS.png') }}">
                    </div>

                    <!--Logo 14-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/LPO.jpg') }}">
                    </div>

                    <!--Logo 15-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/MCE.png') }}">
                    </div>

                    <!--Logo 16-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/OEB.png') }}">
                    </div>

                    <!--Logo 17-->
                    <div class="slidepartenaireindex">
                        <img src="{{url_for('static', filename='custom/images/Logos/Rennes-Metropole-logo.png') }}">
                    </div>

                </section>

            </div>


        </div>
    </div>
</div>





<script type="text/javascript">
    $(document).ready(function(){
        $('.partner-logos').slick({
            infinite: true,
            dots: false,
            slidesToShow: 5,
            slidesToScroll: 1,
            centerMode: false,
            autoplay: true,
            autoplaySpeed: 2000,
        });
    });
</script>