/* Insert your custom override CSS in this file */

@font-face {
  font-family: "Intro-regular";
  src: url("/fonts/Intro Regular.otf") format("otf");
}

@font-face {
  font-family: "Intro-black";
  src: url("/fonts/Intro Black Regular.otf") format("otf");
}

@font-face {
  font-family: "Intro-bold";
  src: url("/fonts/Intro Bold Regular.otf") format("otf");
}

@font-face {
  font-family: "Intro-cond";
  src: url("/fonts/Intro Cond.otf") format("otf");
}

:root {

  --main-color: #003333;
  --second-color: #17AA00;
}

body {
  background-color: #003333;
  font-family: Intro-regular, serif;
}

.btn.btn-default {
  border-radius: 20px;
}

/* La barre du header*/
.navbar{
  background: #003333 !important;
}

/*Bulles de recherche*/
#searchCommunes{
  border-radius: 12px;
  background-color: transparent;
}

#searchTaxons{
  border-radius: 12px;
  background-color: transparent;
}

/* Titre de l'app */
.titreAppli{
  color: #ffffff !important;
  font-size: 50px;
  font-weight: bold;
  font-family: Intro-black;
}

/* Bare de navigation */
.sidebar-nav {
  background-color: #ffffff !important;
}

#sideBar {
  background-color: #003333 !important;
}

.glyphicon {
  color: black !important;
}

/* Les blocs rectangulaire*/
.panel-default{
  background-color: #ffffff;
}

.panel-heading {
  background-color: #ffffff !important;
}

/* Titres des blocs rectangulaire*/
.title-spaced {
  font-family: Intro-black;
  font-weight: bold;
}

/* Les icones statistiques*/
.stat-object{
  color: #003333;
}

/* Les nombres statistiques "En quelques chiffres" "Espèces à découvrir" */
.stat-number{
  color: #17AA00;
}

/*  "Espèces à découvrir" */
.statEspece {
  font-size: 30px;
}

.higlight {
  font-size: 30px;
}

/**/

.container-presentation {
  background-color: #ffffff !important;
}