/* Insert your custom override CSS in this file */

@font-face {
  font-family: "IntroBold";
  src: url("../css/fonts/Fontfabric-IntroBold.otf") format("opentype");
}

@font-face {
  font-family: "IntroBoldAlt";
  src: url("../css/fonts/Fontfabric-IntroBoldAlt.otf") format("opentype");
}

@font-face {
  font-family: "IntroBoldCaps";
  src: url("../css/fonts/Fontfabric-IntroBoldCaps.otf") format("opentype");
}

@font-face {
  font-family: "IntroSemiBold";
  src: url("../css/fonts/Fontfabric-IntroSemiBold.otf") format("opentype");
}

@font-face {
  font-family: "IntroSemiBoldAlt";
  src: url("../css/fonts/Fontfabric-IntroSemiBoldAlt.otf") format("opentype");
}

@font-face {
  font-family: "IntroSemiBoldCaps";
  src: url("../css/fonts/Fontfabric-IntroSemiBoldCaps.otf") format("opentype");
}

@font-face {
  font-family: "IntroSemiBoldItalic";
  src: url("/static/css/fonts/Fontfabric-IntroSemiBoldItalic.otf") format("opentype");
}

:root {

  --main-color: #003333;
  --second-color: #17AA00;
}

body {
  background-color: #003333;
  font-family: 'IntroSemiBoldAlt';
}

.btn.btn-default {
  border-radius: 20px;
}

/* La barre du header*/
.navbar{
  background: #003333 !important;
}

/*Bulles de recherche*/
#searchCommunes{
  border-radius: 12px;
  background-color: transparent;
}

#searchTaxons{
  border-radius: 12px;
  background-color: transparent;
}

/* Titre de l'app */
.titreAppli{
  color: #ffffff !important;
  font-size: 40px;
  font-weight: bold;
  font-family: 'IntroBoldAlt';
}

/* Bare de navigation */
.sidebar-nav {
  background-color: #f0f4f0 !important;
}

#sideBar {
  background-color: #003333 !important;
  margin-top: 25px;
}

.glyphicon {
  color: black !important;
}

/* Les blocs rectangulaire*/
.panel-default{
  background-color: #f0f4f0 !important;
}

.panel-heading {
  background-color: #f0f4f0 !important;
}

/* Titres des blocs rectangulaire*/
.title-spaced {
  font-family: 'IntroBoldAlt';
  font-weight: bold;
}

/* Les icones statistiques*/
.stat-object{
  color: #003333;
}

/* Les nombres statistiques "En quelques chiffres" "Espèces à découvrir" */
.stat-number{
  color: #9b9e24;
}

/*  "Espèces à découvrir" */
.statEspece {
  font-size: 30px;
}

/* Les blocs de statistiques */
.stat-thumbnail{
  background-color: #f0f4f0;
}


.higlight {
  font-size: 30px;
}

.singleTaxon {
    background-color: #f0f4f0;
}

.btn.btn-default.btn-espece{
  background-color: #dce169 !important;
  color: black ;
  border: none;
}
/**/

.container-presentation {
  background-color: #f0f4f0 !important;
}

/*** images dans les listes ***/

.pictoImgSmall {
  background-size: contain;
}

/*** structures d'onglet ***/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-radius: 10px;
	background-color: #003333;
	color:#ffffff !important;
}

.nav-tabs > li > a {
	background-color: #003333;
	color:#ffffff !important;
	border-radius: 10px;
	margin-right: 20px;
  
}

.nav-tabs {
    border-bottom: 1px #ddd;
}

.nav > li > a {
    padding: 4px 20px 2px 20px;
}
